/* Pasek nawigacji */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  overflow: hidden;
  background-color: #333;
  animation: animacja 4s infinite;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #F7B160;
  color: black;
}

nav a.active {
  background-color: #FA9218;
  color: white;
}

nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  nav a:not(:first-child) {display: none;}
  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  nav.responsive {position: relative;}
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



@keyframes animacja {
  0% {
    box-shadow: 0 0 0;
  }
  25% {
    box-shadow: 0 0 10px #FA9218;
  }
  50% {
    box-shadow: 0 0 20px #FA9218;
  }
  75% {
    box-shadow: 0 0 10px #FA9218;
  }
  100% {
    box-shadow: 0 0 0;
  }
}

/* Strony */
main{
    text-align: justify;
    margin-left: 60px;
    margin-right: 60px;
}
main h1{
    text-align: center;
    color: #FA9218;
}
header{
  width: 100%;
  margin: 0;
}
footer{
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: gray;
  margin: 0;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial;
  letter-spacing: 2px;
  color: orange;
  text-shadow: 4px 3px 6px orange;
  padding: 2px;
}
#logo h1{
  animation-name: kolor, rozmiar;
  animation-duration: 3s;
}
@keyframes rozmiar {
	0% {
		transform: scale(1);
		}
	50% {
		transform: scale(1.2);
		}
	100% {
		transform: scale(1);
		}
}

@keyframes kolor {
	0% {
		text-shadow: 4px 3px 6px orange;
		}
	50% {
		text-shadow: 4px 3px 6px yellow;
		}
	100% {
		text-shadow: 4px 3px 6px orange;
		}
}

/* Indeks */
.right{
    float: right;
    padding: 20px;
}
#tabela-info{
  width: 100%;
  max-width: 520px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.tabela{
  height: 250px;
  width: 100%;
  border-width: 3px;
  border: 3px dashed #FA9218;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
td{
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}
th{
  padding: 5px;
  text-align: center;
  font-weight: bold;
  background-color: #FA9218;
}
#zdj7C{
  max-width: 529px;
  max-height: 736px;
  width: 40vh;
}

html {
  scroll-behavior: smooth;
}
ol.lista, ul.lista{
  display: inline-block;
  text-align: left;
  list-style-position: inside;
  list-style-type: circle;
}
.wyroznienie1{
  font-weight: bold;
  color: #FA9218;
}
.atrZdj{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wiecej{
  width: 200px;
  position: fixed;
  top: 30%;
  right: 0;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
}
.wiecej a:visited{
  color: white;
}
.wiecej a:hover{
  color: orange;
}
.wiecej a{
  color: white;
  display: block;
  margin: 10px 0;
}

@media (max-width: 1200px){
  body{background-color: #CCC;}
  .tabela{font-size: 14px;}
  .wiecej{
    position: relative;
    width: 500px;
    margin-left: 60px;
    margin-right: 60px;
  }
  main{
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 600px){
  body{background-color: #EEE;}
  iframe{
    width: 80vw;
  }
  .tabela{font-size: 12px;}
  .wiecej{
    position: relative;
    width: 80vw;
    margin: auto auto;
    align-self: center;
  }
  main{
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* Galeria */
body.galeria{
  font-family: Arial;
  margin: 0;
  box-sizing: border-box;
}
body.galeria img{
  vertical-align: middle;
}
body.galeria .container {
  position: relative;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
body.galeria .mySlides img{
  height: 60vh;
  max-width: 80vw;
  max-height: 64vw;
  display: block;
  margin: 0 auto;
}
body.galeria .mySlides {
  display: none;
  position: relative;
  height: 60vh;
  width: 75vh;
  max-width: 80vw;
  max-height: 64vw;
  margin: 0 auto;
}
body.galeria .cursor {
  cursor: pointer;
}
body.galeria .prev, body.galeria .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
body.galeria .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
body.galeria .prev:hover, body.galeria .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

body.galeria .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

body.galeria .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body.galeria .row:after {
  content: "";
  display: table;
  clear: both;
}

body.galeria .column {
  float: left;
  width: 16.66%;
}
body.galeria .column img{
  width: 100%;
}

body.galeria .demo {
  opacity: 0.6;
}

body.galeria .active,
body.galeria .demo:hover {
  opacity: 1;
}

@media (max-width: 1200px) {
  body.galeria .column {
    width: 25%;
  }
}

@media (max-width: 768px) {
  body.galeria .column {
    width: 33.33%;
  }
  body.galeria .mySlides img {
    height: auto;
    max-height: 50vh;
  }
}

@media (max-width: 480px) {
  body.galeria .column {
    width: 50%;
  }
  body.galeria .mySlides img {
    height: auto;
    max-height: 40vh;
  }
}